html {
	font: normal normal 14px "Microsoft YaHei",sans-serif;
}
body ,ul ,ol ,dl ,p ,h1 ,h2 ,h3 {
	margin: 0;
	padding: 0;
	letter-spacing: 1px;
}
ul,ol,li {
	list-style: none;
}
a {
	text-decoration: none;
}
		